@import "tailwindcss";

:root {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

@theme {
	--color-light-pink: #e9dfff;
	--color-error: #ee2917;
	--color-typo-main-white: #fafafa;
	--color-typo-light-white: #f5f5f5;
	--color-typo-main-black: #181818;
	--color-typo-dark-gray: #696f79;
	--color-typo-medium-gray: #8692a6;
	--color-typo-light-gray: #bababa;
	--color-icon-green: #a7c957;
	--color-icon-peach: #ffb4a2;
	--color-icon-cyan: #caf0f8;
	--color-icon-yellow: #fcf6bd;
	--color-icon-blue: #8692a6;
	--color-icon-purple: #7468fc;
	--color-icon-white: #ffffff;
	--color-icon-light-white: #fafafa;
	--color-icon-black: #181818;
	--color-input-dark: #282a2f;
	--color-input-light-gray: #8692a6;
	--color-input-gray: #696f79;
	--color-btn-purple: #a7a0f8;
	--color-btn-black: #181818;
	--color-btn-white: #fafafa;
	--color-btn-light-gray: #bababa;
	--color-btn-dark: #3b3d40;
	--color-background: #0e0d0d;
	--color-onboarding: #282a2f;
	--color-glass-white: color-mix(in srgb, #ffffff 15%, transparent);
	--color-glass-stroke: color-mix(in srgb, #8692a6 15%, transparent);
	--gradient-stroke: linear-gradient(to right, #8692a6, #343840);
	--gradient-text: linear-gradient(to right, #7468fc, #a7a0f8, #a7a0f8, #847ec8);
	--font-poppins: var(--font-poppins);
	--text-xs: 1.2rem;
	--text-sm: 1.4rem;
	--text-md: 1.6rem;
	--text-lg: 1.8rem;
	--text-xl: 2rem;
	--text-2xl: 2.2rem;
	--spacing: 0.1rem;
	--breakpoint-xs: 350px;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
}

* {
	accent-color: var(--color-btn-purple);
	-webkit-user-drag: none;
	line-height: 1.4;
	text-box: trim-both;
	&::selection {
		color: var(--color-btn-white);
		background-color: var(--color-btn-purple);
	}
	&::-webkit-scrollbar {
		width: 0.6vw;
		min-width: 5px;
		height: 0.6vw;
		min-height: 5px;
		background-color: var(--color-icon-black);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--color-btn-purple);
		cursor: pointer;
	}
	&::-webkit-scrollbar-corner {
		background-color: var(--color-btn-purple);
	}
}

@utility link-underline {
	@apply underline underline-offset-[0.15em] decoration-transparent hover:decoration-current duration-300;
}

@utility badge {
	@apply bg-btn-purple text-nowrap rounded-[0.8rem] max-lg:rounded-[0.65rem] max-md:rounded-[0.45rem] justify-self-end text-[1.4rem] max-lg:text-[1.2rem] max-md:text-[1rem] max-sm:text-[0.8rem] py-[0.5rem] max-lg:py-[0.4rem] max-md:py-[0.3rem] max-sm:py-[0.2rem] px-[1.6rem] max-lg:px-[1.3rem] max-md:px-[1rem] max-sm:px-[0.7rem] text-typo-main-black select-none;
}

@utility bg-gradient-stroke {
	@apply [background:var(--gradient-stroke)];
}

h1 {
	@apply text-[5.8rem] max-xl:text-[5rem] max-lg:text-[4.3rem] max-md:text-[2.9rem] max-sm:text-[2.5rem] max-xs:text-[1.8rem] font-bold;
}
h2 {
	@apply text-[4.8rem] max-xl:text-[4.1rem] max-lg:text-[3.6rem] max-md:text-[2.4rem] max-sm:text-[1.7rem] max-xs:text-[1.5rem] font-bold;
}
h3 {
	@apply text-[4rem] max-xl:text-[3.4rem] max-lg:text-[3rem] max-md:text-[2rem] max-sm:text-[1.7rem] max-xs:text-[1.3rem] font-bold;
}
h4 {
	@apply text-[3.2rem] max-xl:text-[2.7rem] max-lg:text-[2.4rem] max-md:text-[1.6rem] max-sm:text-[1.4rem] max-xs:text-[1.1rem] font-bold;
}
h5 {
	@apply text-[2.4rem] max-xl:text-[2rem] max-lg:text-[1.8rem] max-md:text-[1.4rem] max-sm:text-[1.2rem] max-xs:text-[1rem] font-bold;
}
h6 {
	@apply text-[1.8rem] max-xl:text-[1.6rem] max-lg:text-[1.4rem] max-md:text-[1.2rem] max-sm:text-[1rem] max-xs:text-[0.85rem] font-bold;
}
